/* -------------------------------- 

Primary style

-------------------------------- */

body, html {
  /* important */
  height: 100%;
  
}
a {
  color: #a6989a;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/aboutbg.jpg");
  opacity: 0.9;
}


@media only screen and (min-width: 320px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 480px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 50%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #3d3536;
  color: #a6989a;
}
@media only screen and (min-width: 480px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}





/* About Us Section
--------------------------------*/
#about {
    background: #fff;
    padding: 80px 0px;
 
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font:36px;
    text-align: center;
    
  }
  
  #about .about-container p {
    line-height: 24px;
    text-align: center;
   
  }
  
  .insight{
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }

  .insight2{
    font-size: 50px;
    color: #fff;
    text-align: center;

  }

  .aboutpara{
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
  }


  .title1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
  }
  .back{
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    margin-top: 150px;
    background-attachment: fixed;
    opacity: 0.9;
    object-fit: cover;
  
  }

  @media (max-width:629px) {
    img#optional {
      padding-top: 180px;
      
    }
  }
  

  .mid{
    text-align: center;
    font-family:  Verdana, sans-serif;
    font-size: 20px;
    color: #6C6E70;
  }

  .mid2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #757575;
  }


  .aboutpara5{
    font-family: monospace;
    font-size: 27px;
  }